@use "./variables" as *;
.primary-button{
    border: solid;
    border-color: $primarybuttonbordercolour;
    border-width: 0.0625rem;
    border-radius: 0.4375rem;
    background-color: $primarybuttonbackgroundcolour;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.78125rem 1.1875rem;
    text-align: center;
    color: $primarybuttontextcolour;
}
.primary-button:hover{
    background-color: $primarybuttonhovercolour;
    cursor: pointer;
}
.secondary-button{
    border: solid;
    border-color: $secondarybuttonbordercolour;
    border-width: 0.0625rem;
    border-radius: 0.4375rem;
    background-color: $secondarybuttonbackgroundcolour;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.78125rem 1.1875rem;
    text-align: center;
    color: $secondarybuttontextcolour;
}
.secondary-button:hover{
    background-color: $secondarybuttonhovercolour;
    cursor: pointer;
}