@use "./variables" as *;
.primary-button{
    border: solid;
    border-color: black;
    border-width: 0.0625rem;
    border-radius: 0.4375rem;
    background-color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.78125rem 1.1875rem;
    text-align: center;
}
.primary-button:hover{
    background-color: $primarybuttonhovercolour;
    cursor: pointer;
}
.secondary-button{
    border: solid;
    border-color: white;
    border-width: 0.0625rem;
    border-radius: 0.4375rem;
    background-color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.78125rem 1.1875rem;
    text-align: center;
}
.secondary-button:hover{
    border: $secondarybuttonborder;
    cursor: pointer;
}