@use "./variables" as *;
footer{
    background-color: $footercolour;
    height: 13.5rem;
    padding: 50px;

    .footer__icons__imgholders{
        display: inline-block;
        background-color: white;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin: 0 0.25rem 0 0.25rem;
    }

    .footer__icons__imgholders__img{
        width: 1.25rem;
        height: 3rem;
        
    }


    #footer__email{
        color: white;
        font-weight: 400;
        font-size: 1rem;
        padding: 2rem 0 0 0;
    }

    
    
}