@use "./variables" as *;
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: $parentwidth;
    border: $testborder1;

    .header__text{
    display: flex;
    margin: auto;
    width: $contentwidth;
    justify-content: flex-start;
    border: $testborder2;
    }

    #header__welcome-msg{
        padding: 5rem 0px 0px 0rem;
    }

    #header__title{
        padding: 1rem 0 0 0rem;
    }
}