//FIND OUT -------- WHY DOESNT THIS WORK???????????????????????????

// #my-projects.h2{
//     font-weight: 600;
//     font-size: 100px;
//     color: blue;
// }

#my-projects__title{
    font-weight: 600;
    font-size: 2rem;
    padding: 6rem 0 2rem 0;
}