#tech-skills{

    #tech-skills__heading{
        font-weight: 600;
        font-size: 2rem;
        padding: 5rem 0 0 0;
    }

    #tech-skills__paragraph{
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 1rem;
        padding: 2rem 2rem 0 2rem;

    }

    #tech-skills__icon-grid{
        padding: 3rem 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        

        .tech-skills__icon-grid__skills__container{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            align-content: center;
            margin: 1rem 1rem 1rem 1rem;

            .tech-skills__icon-grid__container__skills-logo{
                width: 5rem;
                height: 7rem;
            }
        }
    
    }

}