#tech-skills{

    #tech-skills__heading{
        font-weight: 600;
        font-size: 2rem;
        padding: 5rem 0 0 0;
    }

    #tech-skills__paragraph{
        font-weight: 400;
        font-size: 1rem;
        padding: 2rem 0 0 0;

    }

    #tech-skills__icon-grid{
        padding: 3rem 0 0 0;
        display: grid;
    
    }

}