h1{
    font-weight: 600;
    font-size: 4rem;
}

h2{
    font-weight: 600;
    font-size: 2.375rem;
}

h3{
    font-weight: 600;
    font-size: 2rem;
}

h4{
    font-weight: 500;
    font-size: 1.25rem;
}

h5{
    font-weight: 600;
    font-size: 1rem;

}

p{
    font-weight: 400;
    font-size: 1.125rem;
    // width: 90vw;
}