//global variables
$parentwidth: 100%;
$contentwidth: 90%;
//Light mode
$primaryfontcolour: black;
//Dark Mode
$secondaryfontcolour:white;

//Testing Phase Variables
$testborderwidth:0px;
$testborder1: solid $testborderwidth red;
$testborder2: solid $testborderwidth green;
$testborder3: solid $testborderwidth blue;