//global variables
$parentwidth: 100%;
$contentwidth: 90%;

//Light mode
$primaryfontcolour: black;
$footercolour:black;


//Testing Phase Variables
$testborderwidth:0px;
$testborder1: solid $testborderwidth red;
$testborder2: solid $testborderwidth green;
$testborder3: solid $testborderwidth blue;
