//global variables
$parentwidth: 100%;
$contentwidth: 90%;

//Light mode
// $primaryfontcolour: #E3F6F5;
// $footercolour:#E3F6F5;
// $browsercolour: #E3F6F5;
// $footerfontcolour: White;

//Dark Mode
$primaryfontcolour: #E3F6F5;
//card
$browsercolour: #272643;
//footer
$footercolour:#E3F6F5;
$footerfontcolour:#272643;
$footericonholdercolour:#272643;
//buttons - primary
$primarybuttonbackgroundcolour:#E3F6F5;
$primarybuttonbordercolour:#E3F6F5;
$primarybuttontextcolour:#272643;
//buttons - secondary
$secondarybuttonbackgroundcolour:#272643;
$secondarybuttonbordercolour:#E3F6F5;
$secondarybuttontextcolour:#E3F6F5;

//Testing Phase Variables
$testborderwidth:0px;
$testborder1: solid $testborderwidth red;
$testborder2: solid $testborderwidth green;
$testborder3: solid $testborderwidth blue;
