@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
nav {
  display: none;
  text-align: center;
  font-family: "DM sans";
  font-weight: 700;
}

header {
  text-align: left;
  font-weight: 600;
}

#header__welcome-msg {
  font-size: 1rem;
  padding: 5rem 0px 0px 3rem;
}

#header__title {
  font-size: 4rem;
  padding: 1rem 0 0 3rem;
}

#about-me {
  margin: 10rem 0 0 0;
}

#about-me__title {
  font-size: 2rem;
  font-weight: 600;
}

#about-me__image {
  padding: 2rem 1rem;
  width: 70vw;
}

.about-me__paragraph {
  font-weight: 400;
  font-size: 1.125rem;
  padding: 1rem 2rem;
  text-align: left;
}

#tech-skills #tech-skills__heading {
  font-weight: 600;
  font-size: 2rem;
  padding: 5rem 0 0 0;
}
#tech-skills #tech-skills__paragraph {
  font-weight: 400;
  font-size: 1rem;
  padding: 2rem 0 0 0;
}
#tech-skills #tech-skills__icon-grid {
  padding: 3rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
#tech-skills #tech-skills__icon-grid .tech-skills__icon-grid__skills__container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}
#tech-skills #tech-skills__icon-grid .tech-skills__icon-grid__skills__container .tech-skills__icon-grid__container__skills-logo {
  width: 5rem;
  height: 7rem;
}

#my-projects__title {
  font-weight: 600;
  font-size: 2rem;
  padding: 2rem 0 0 0;
}

.my-projects__project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23rem;
  border: solid green 4px;
  align-items: flex-start;
}
.my-projects__project-card .my-projects__project-card__browser {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 23rem;
  height: 19rem;
  background-color: red;
  margin: auto;
  border-radius: 0.25rem;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  width: 20.5rem;
  height: 14rem;
  background-color: blueviolet;
  border-radius: 0.5rem;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen #my-projects__project-card__browser__screen__circle-cont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid;
  border-width: 2px;
  border-color: aqua;
  margin: 0.5rem 0 0 1rem;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen #my-projects__project-card__browser__screen__circle-cont .my-projects__project-card__browser__screen__circle-cont__circle {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-right: 0.1rem;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen #my-projects__project-card__browser__screen__circle-cont #my-projects__project-card__browser__screen__circle-cont__circle__red {
  background-color: #EC5C5C;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen #my-projects__project-card__browser__screen__circle-cont #my-projects__project-card__browser__screen__circle-cont__circle__yellow {
  background-color: #FFDB7D;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen #my-projects__project-card__browser__screen__circle-cont #my-projects__project-card__browser__screen__circle-cont__circle__green {
  background-color: #3EE94F;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen #my-projects__project-card__browser__screen__container {
  padding: 0.5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen #my-projects__project-card__browser__screen__container__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 18.5rem;
  height: 12rem;
}
.my-projects__project-card .my-projects__project-card__skill {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1rem;
}
.my-projects__project-card .my-projects__project-card__title {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 0.3rem;
}
.my-projects__project-card .my-projects__project-card__paragraph {
  font-weight: 400;
  font-size: 1.125rem;
  margin-top: 1.8rem;
}
.my-projects__project-card .my-projects__project-card__button-container {
  display: flex;
  align-items: flex-start;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}
.my-projects__project-card .my-projects__project-card__button-container__buttons {
  margin-right: 1.25rem;
}

.primary-button {
  border: solid;
  border-color: black;
  border-width: 0.0625rem;
  border-radius: 0.4375rem;
  background-color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.78125rem 1.1875rem;
  text-align: center;
}

footer {
  background-color: black;
  height: 13.5rem;
  padding: 50px;
  width: 100vw;
}
footer .footer__icons__imgholders {
  display: inline-block;
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 0.25rem 0 0.25rem;
}
footer .footer__icons__imgholders .footer__icons__imgholders__img {
  width: 1.25rem;
  height: 3rem;
}
footer #footer__email {
  color: white;
  font-weight: 400;
  font-size: 1rem;
  padding: 2rem 0 0 0;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  text-align: center;
}/*# sourceMappingURL=style.css.map */