@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
h1 {
  font-weight: 600;
  font-size: 4rem;
}

h2 {
  font-weight: 600;
  font-size: 2.375rem;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
}

h4 {
  font-weight: 500;
  font-size: 1.25rem;
}

h5 {
  font-weight: 600;
  font-size: 1rem;
}

p {
  font-weight: 400;
  font-size: 1.125rem;
}

.my-projects__project-card__all-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.my-projects__project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23rem;
  border: solid green 4px;
  align-items: flex-start;
}
.my-projects__project-card .my-projects__project-card__browser {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 23rem;
  height: 19rem;
  background-color: red;
  margin: auto;
  border-radius: 0.25rem;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  width: 20.5rem;
  height: 14rem;
  background-color: blueviolet;
  border-radius: 0.5rem;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen .my-projects__project-card__browser__screen__circle-cont {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid;
  border-width: 2px;
  border-color: aqua;
  margin: 0.5rem 0 0 1rem;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen .my-projects__project-card__browser__screen__circle-cont .my-projects__project-card__browser__screen__circle-cont__circle {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-right: 0.1rem;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen .my-projects__project-card__browser__screen__circle-cont .my-projects__project-card__browser__screen__circle-cont__circle__red {
  background-color: #EC5C5C;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen .my-projects__project-card__browser__screen__circle-cont .my-projects__project-card__browser__screen__circle-cont__circle__yellow {
  background-color: #FFDB7D;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen .my-projects__project-card__browser__screen__circle-cont .my-projects__project-card__browser__screen__circle-cont__circle__green {
  background-color: #3EE94F;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen .my-projects__project-card__browser__screen__container {
  padding: 0.5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.my-projects__project-card .my-projects__project-card__browser .my-projects__project-card__browser__screen .my-projects__project-card__browser__screen__container__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 18.5rem;
  height: 12rem;
}
.my-projects__project-card .my-projects__project-card__skill {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1rem;
}
.my-projects__project-card .my-projects__project-card__title {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 0.3rem;
}
.my-projects__project-card .my-projects__project-card__paragraph {
  font-weight: 400;
  font-size: 1.125rem;
  margin-top: 1.8rem;
}
.my-projects__project-card .my-projects__project-card__button-container {
  display: flex;
  align-items: flex-start;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}
.my-projects__project-card .my-projects__project-card__button-container .my-projects__project-card__button-container__buttons {
  margin-right: 1.5rem;
}

.my-projects__project-card__desktop {
  display: none;
}

.primary-button {
  border: solid;
  border-color: black;
  border-width: 0.0625rem;
  border-radius: 0.4375rem;
  background-color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.78125rem 1.1875rem;
  text-align: center;
}

nav {
  display: none;
  text-align: center;
  font-family: "DM sans";
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  width: 100%;
  border: solid 3px purple;
}
header .header__text {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: flex-start;
  border: solid 2px green;
}
header #header__welcome-msg {
  padding: 5rem 0px 0px 0rem;
}
header #header__title {
  padding: 1rem 0 0 0rem;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10rem 0 0 0;
  width: 100%;
  border: solid 3px purple;
}

#about-me__title {
  text-align: center;
  width: 90%;
  border: solid 2px green;
}

#about-me__image {
  display: block;
  padding: 2rem 0 0 0;
  width: 70%;
  border: solid 2px blue;
}

.about-me__paragraph {
  width: 90%;
  padding: 1rem 0 0 0;
  border: solid 2px green;
}

#tech-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: solid 3px purple;
}
#tech-skills #tech-skills__heading {
  padding: 5rem 0 0 0;
  border: solid 2px green;
  text-align: center;
}
#tech-skills #tech-skills__paragraph {
  width: 90%;
  padding: 3rem 0 0 0;
  border: solid 2px blue;
  text-align: center;
}
#tech-skills #tech-skills__icon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 2px green;
  padding: 3rem 0 0 0;
}
#tech-skills #tech-skills__icon-grid .tech-skills__icon-grid__container__skills-logo {
  width: 5rem;
  height: 7rem;
  border: solid 2px green;
  margin: 1rem 1rem 1rem 1rem;
}

#my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 3px purple;
  width: 100%;
}
#my-projects #my-projects__title {
  text-align: center;
  padding: 6rem 0 2rem 0;
  border: solid 2px green;
  width: 90%;
}

footer {
  background-color: black;
  height: 13.5rem;
  padding: 50px;
  width: 100vw;
}
footer .footer__icons__imgholders {
  display: inline-block;
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0 0.25rem 0 0.25rem;
}
footer .footer__icons__imgholders .footer__icons__imgholders__img {
  width: 1.25rem;
  height: 3rem;
}
footer #footer__email {
  color: white;
  font-weight: 400;
  font-size: 1rem;
  padding: 2rem 0 0 0;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: black;
}

body {
  font-family: Inter, sans-serif;
  color: black;
}/*# sourceMappingURL=style.css.map */