@use "./variables" as *;
@use "./icons";
@use "./text";
@use "./cards";
@use "./buttons";
@use "./nav";
@use "./header";
@use "./about-me";
@use "./tech-skills";
@use "./my-projects";
@use "./footer";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    //Icon colour (has to be in * because svg styling in the shadow DOM)
    fill: #E3F6F5;
}
 body{
    font-family: Inter, sans-serif;
    color: $primaryfontcolour;
    background-color: #282746;
 }